* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  height: 100vh;
  background-color: #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  height: 80vh;
  width: 30vw;
  display: flex;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

label {
  font-weight: 400;
  text-align: left;
}
input {
  margin: 10px;
  outline: none;
  height: 2rem;
}
input:hover {
  background-color: #dfe6e9;
}
.style{
  color: #dfe6e9;
  opacity: 0.2;
  /* visibility: hidden; */
}

.heading{
  margin-bottom: 10px;
}
.submit {
  width: 60%;
  background-color: #273c75;
  border: none;
  padding: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border-radius: 3px;
  position: relative;
  left: 52px;
}
.submit:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #6c5ce7;
}
.submit:active {
  transform: translateY(2px);
}
.inp1 {
  position: relative;
  left: 32px;
}
.inp2 {
  position: relative;
  /* left: 32px; */
}
.inp3 {
  position: relative;
  right: 33px;
}
.inp4 {
  position: relative;
  left: 7px;
}
.inp5 {
  position: relative;
  right: 26px;
}
.id-error-msg,
.name-error-msg,
.username-error-msg,
.email-error-msg,
.phone-error-msg {
  display: none;
  color: red;
  font-size: 13px;
  text-align: center;
}
.id-error-msg {
  position: relative;
  bottom: 10px;
  left: -32px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px ; */
}
.name-error-msg {
  position: relative;
  top: -10px;
}
.username-error-msg {
  position: relative;
  top: -10px;
  left: 32px;
}
.email-error-msg {
  position: relative;
  top: -10px;
  left: -5px;
}
.phone-error-msg {
  position: relative;
  top: -10px;
  left: 26px;
}
