* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  height: 100vh;
  background: linear-gradient(to right, #245db3, #ec2f7e);
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-box {
  height: 80%;
  width: auto;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
.table {
  width: auto;
}

th,
td,
tr {
  text-transform: capitalize;
  padding: 10px;
  width: auto;
}
th {
  background-color: #222f3e;
  color: #fff;
}

td {
  text-align: center;
}
.edit,
.delete {
  padding: 10px;
  color: #222f3e;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transform: translateY(2px);
}
/* .edit:active {
  transform: translateY(6px);
} */
/* .delete:active {
  transform: translateY(6px);
} */
.delete {
  background-color: #db2323;
  color: #fff;
}
.edit:hover,
.delete:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.5ms all ease;
}
.table-box::-webkit-scrollbar {
  width: 10px;
}

.table-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-box::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.add {
  position: absolute;
  bottom: 92%;
}
.add:active {
  transform: translateY(2px);
}
.addData {
  padding: 10px 15px 10px 15px;
  color: #ffff;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #4cd137;
}
