* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: #dfe6e9;
  padding: 1.4rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}
.main {
  height: 95vh;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
/* .head {
  border-bottom: 0.1rem solid #bdc3c7;
} */
th {
  padding: 1rem 12rem 2rem 1rem;
  text-transform: capitalize;
  color: #3498db;
  font-size: 1.6rem;
}

td {
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #bdc3c7;
  padding: 1rem;
}
table {
  width: 100%;
}
