@font-face {
 font-family: "grotesk-bold";
 src: url("fonts/hk-grotesk.bold.ttf");
 font-display: auto;
}

@font-face {
 font-family: "grotesk-regular";
 src: url("fonts/hk-grotesk.regular.ttf");
 font-display: auto;
}

@font-face {
 font-family: "grotesk-medium";
 src: url("fonts/hk-grotesk.medium.ttf");
 font-display: auto;
}

@font-face {
 font-family: "grotesk-sb";
 src: url("fonts/hk-grotesk.semibold.ttf");
 font-display: auto;
}

@font-face {
 font-family: "lato-heavy";
 src: url("fonts/Lato-Heavy.ttf");
 font-display: auto;
}
*,
*::after,
*::before {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 --primary-color: #4f5bf1;
 --secondary-color: #808080;
}
html {
 font-size: 46.8%;
 font-weight: 400;
}
body {
 font-family: "Lato", sans-serif;
 line-height: 1.7rem;
 background-color: #f2f3f6;
}
.navbar-brand {
 position: relative;
 left: 17rem;
 height: 6rem;
}
.navbar {
 height: 10rem;
 background-color: #fff;
}
.nav-bar {
 padding-top: 2rem;
}
.navbar-collapse {
 background-color: #fff;
}
.nav-link {
 color: #393f93;
 font-size: 2rem;
 text-transform: capitalize;
 font-weight: 500;
}
.nav-item {
 padding-right: 5rem;
}
#navbarNav {
 justify-content: space-around;
}
.blog {
 color: var(--primary-color);
 border-bottom: 1.6px solid var(--primary-color);
}
#earn {
 background-color: var(--primary-color);
 padding: 1.4rem 2rem;
 font-size: 1.9rem;
 position: relative;
 right: 20rem;
 color: #fff;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blog-description {
 font-size: 1.4rem;
 color: var(--secondary-color);
 font-weight: bold;
 margin: 4rem 5rem;
}
.description {
 color: #393f93;
}
.date {
 text-align: center;
 font-family: "grotesk-sb";
 font-size: 2rem;
 color: var(--secondary-color);
 word-spacing: 0.4rem;
}
.heading {
 font-weight: bold;
 font-size: 5.5rem;
 color: #26336a;
 text-align: center;
 word-spacing: 0.8rem;
}
.center {
 display: flex;
 align-items: center;
 justify-content: center;
}
.flex {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.user {
 flex-direction: row;
}
.saraha {
 color: #26336a;
 font-size: 2rem;
 font-family: "grotesk-sb";
 padding: 2rem;
 position: relative;
 top: 0.4rem;
}
.blog1 {
 width: 60vw;
}
.blog2 {
 width: 55vw;
}
.quote {
 width: 50vw;
}
.blog-text {
 width: 60vw;
 font-size: 2rem;
 font-weight: 300;
 font-family: "grotesk-regular";
 line-height: 1.5;
 margin: 7rem 0;
}
.newsletter {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 10rem;
 margin-bottom: 10rem;
 background-color: #eef1f6;
 padding: 4rem 7rem;
 width: 50%;
 border-radius: 1rem;
}
.input-group {
 height: 7rem;
 width: 60%;
 position: relative;
 box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
 border-radius: 0.7rem;
}
.email {
 font-size: 1.5rem;
 color: black;
 padding-left: 2rem;
 font-weight: 600;
 position: relative;
 outline: none;
 border: none;
 width: 100%;
 padding-right: 17rem;
}
#button-addon2 {
 background-color: var(--primary-color);
 color: #fff;
 font-size: 1.6rem;
 padding: 1.5rem 2.7rem;
 position: absolute;
 right: 2%;
 top: 12%;
 border-radius: 0.5rem;
}
.news {
 color: var(--primary-color);
}
.subscribe {
 text-align: center;
 text-transform: capitalize;
 color: #26336a;
 font-weight: 700;
 font-size: 3rem;
 font-family: "grotesk-medium", sans-serif;
}

i {
 padding: 1rem;
 background-color: var(--primary-color);
 font-size: 2rem;
 color: #fff;
 border-radius: 50%;
 text-align: center;
 margin-right: 1rem;
}
.vertical {
 display: flex;
 align-items: center;
 justify-content: center;
}
.text {
 font-size: 1.8rem;
 color: #26336a;
}
.footer {
 margin-top: 10rem;
 padding-bottom: 10rem;
 padding-top: 5rem;
 background-color: #f5f5f5;
}
.footer-link {
 display: block;
 text-decoration: none;
 font-size: 1.8rem;
 color: #6f6f6f;
 line-height: 4rem;
}
.center {
 padding-left: 10rem;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
}
.jobs,
.jobs-active {
 color: #000;
 font-family: "grotesk-medium", sans-serif;
 font-weight: bold;
}
.jobs-active {
 color: #26336a;
}
.copyright {
 background-color: var(--primary-color);
 padding: 2.5rem 0;
 color: #fff;
 text-align: center;
 font-size: 1.4rem;
 margin: 0;
}
.width-100 {
 width: 100%;
 margin: 0;
 padding: 0;
}
.flex-2 {
 display: flex;
 align-items: center;
 justify-content: center;
}
.blog3 {
 width: 10vw;
}
.sub-text {
 display: block;
}
.previous,
.next {
 color: #575861;
 font-size: 1.6rem;
 font-family: "grotesk-medium", sans-serif;
 text-transform: uppercase;
 line-height: 2;
 padding: 2rem;
}
.sub-text-1,
.sub-text {
 font-weight: bold;
 font-family: "grotesk-medium", sans-serif;
 text-transform: capitalize;
 color: #000;
 font-size: 2.5rem;
}
.sub-text,
.next {
 text-align: right;
}
.post {
 background-color: #fff;
 padding: 3rem 3rem 6rem 3rem;
 width: 70vw;
 margin: 0 auto;
}
.card {
 padding: 4rem;
 margin-top: 10rem;
}
.heading2 {
 text-align: center;
}
.blogs {
 width: 15vw;
}
.flex-start {
 display: flex;
 align-items: center;
 justify-content: flex-start;
}
.padding {
 padding: 5rem;
 background-color: #fff;
 margin: 10rem 20rem;
}
.card > span {
 background-color: var(--color-black);
 font-family: var(--header-font);
 font-size: var(--basic-font-size);
 padding: 1rem;
 color: #fff;
 display: inline-block;
 position: absolute;
 top: 20px;
 left: -8px;
 padding: 5px 15px;
}
.card-modified {
 padding-left: 10rem;
 padding-right: 10rem;
}
.card-body {
 display: flex;
 flex-direction: column;
 padding: 1rem 1.5rem;
}

.card-body--1 {
 height: 65px;
}
.card-body--1 p {
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
}
.card-body--2 {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 2rem;
 margin-bottom: 0.8rem;
}
.card-text {
 font-family: "grotesk-bold";
 font-size: 2.5rem;
 line-height: 1.5;
 color: #000;
 letter-spacing: 0.1rem;
}

.card-modified h2 {
 padding-top: 2rem;
 padding-bottom: 4rem;
 font-size: 2.5rem;
 text-align: center;
}
.heading2 {
 font-size: 2.5rem;
 color: #000;
 font-family: "grotesk-bold";
 position: relative;
 top: 20rem;
 z-index: 1;
}
.card-mod {
 border: 0;
 padding-top: 10rem;
}
.padding-0 {
 padding: 0%;
}
.card-body {
 padding-left: 0;
 padding-right: 0;
}

.card-body--1 p {
 text-align: left;
}

.card-body--2 {
 margin-top: 3.5rem;
}
.date-posted {
 color: #808080;
 font-size: 1.6rem;
 font-family: "grotesk-sb";
}
/* media queries */
@media (min-width: 1800px) {
 html {
  font-size: 50%;
 }
 .nav-item {
  padding-right: 5rem;
 }
 #navbarNav {
  justify-content: space-around;
 }
 .stories-bg {
  padding: 0 5rem;
 }
 #button-addon2 {
  position: absolute;
  right: 2%;
 }
}
@media (max-width: 1200px) {
 html {
  font-size: 40%;
 }
 .nav-item {
  padding-right: 5rem;
 }
 #navbarNav {
  justify-content: space-around;
 }
 .footer {
  padding-left: 0;
 }
 .center {
  padding-left: 5rem;
 }
 .input-group {
  width: 80%;
 }
 .stories-bg {
  padding: 0 5rem;
 }
 #button-addon2 {
  position: absolute;
  right: 2%;
 }
 .post {
  width: 83vw;
 }
}

@media (max-width: 900px) {
 html {
  font-size: 35%;
 }
 .footer {
  padding-left: 1em;
 }
 .input-group {
  width: 80%;
 }
 #earn {
  display: none;
 }
 .navbar-brand {
  position: relative;
  left: 4rem;
 }
 .card {
  margin-top: 3rem;
 }
 .navbar-toggler {
  margin-right: 2rem;
 }
 .navbar-toggler-icon {
  position: relative;
  bottom: 2.5rem;
  right: 1.7rem;
 }
 .fa-bars {
  font-size: 3.5rem;
  text-align: center;
  padding: 1.2rem;
  color: black;
  background-color: #fff;
 }
 .flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }
 .navbar-collapse {
  z-index: 1;
 }
 .navbar-nav {
  padding: 2rem;
 }
 .heading {
  margin: 0 15rem;
 }
 .post {
  width: 83vw;
 }
 .card-modified h2 {
  padding-bottom: 10rem;
 }
 #button-addon2 {
  position: absolute;
  right: 2%;
 }
}
@media (max-width: 600px) {
 html {
  font-size: 32%;
 }
 .navbar-brand {
  position: relative;
  left: 1rem;
 }
 .navbar-collapse {
  z-index: 1;
 }
 .flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }
 .card {
  margin-top: 2rem;
 }
 #earn {
  display: none;
 }
 .footer {
  padding-left: 0;
 }
 .stories-bg {
  padding: 0;
  margin-left: 2rem;
 }
 .newsletter {
  width: 100%;
 }
 .input-group {
  width: 80%;
 }
 .heading {
  margin: 0 15rem;
 }
 .post {
  width: 83vw;
 }
 .card-modified h2 {
  padding-bottom: 12rem;
 }
 #button-addon2 {
  position: absolute;
  right: 2%;
 }
 .blog-text,
 .blog1,
 .quote {
  width: 80vw;
 }
 .card-modified {
  padding-left: 5rem;
  padding-right: 5rem;
 }
 .blog2 {
  width: 65vw;
 }
 .flex-2 {
  flex-direction: column;
 }
}
@media (min-width: 992px) {
 .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
 }
}
