@font-face {
 font-family: "grotesk-medium";
 src: url("fonts/hk-grotesk.medium.ttf");
 font-display: auto;
}

@font-face {
 font-family: "grotesk-sb";
 src: url("fonts/hk-grotesk.semibold.ttf");
 font-display: auto;
}

@font-face {
 font-family: "lato-heavy";
 src: url("fonts/Lato-Heavy.ttf");
 font-display: auto;
}
*,
*::after,
*::before {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 --primary-color: #4f5bf1;
}
html {
 font-size: 46.8%;
 font-weight: 400;
}
body {
 font-family: "Lato", sans-serif;
 line-height: 1.7rem;
}
.navbar-brand {
 position: relative;
 left: 17rem;
 height: 4rem;
}
.navbar {
 height: 7rem;
}
.nav-bar {
 padding-top: 2rem;
}
.navbar-collapse {
 background-color: #fff;
}
.nav-link {
 color: #393f93;
 font-size: 2rem;
 text-transform: capitalize;
 font-weight: 500;
 padding-left: 0;
 padding-right: 0;
}
.stories-bg {
 padding: 0 20rem;
}
.nav-item {
 padding-right: 5rem;
}
#navbarNav {
 justify-content: space-around;
}
.blog {
 color: var(--primary-color);
 border-bottom: 1.6px solid var(--primary-color);
}

#earn {
 background-color: var(--primary-color);
 padding: 1.4rem 2rem;
 font-size: 1.9rem;
 position: relative;
 right: 17rem;
 color: #fff;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.stories-bg {
 background-color: #f3f3f3;
}
.navbar-toggler {
 background-color: #f3f3f3;
}
.card {
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 position: relative;
 margin-right: 2rem;
}
.card-text {
 font-family: "Lato", sans-serif;
 color: #26336a;
 font-weight: bold;
 font-size: 2.2rem;
 line-height: 3rem;
 letter-spacing: 0.2rem;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
 padding: 1.2rem;
}
.user-profile {
 display: flex;
 align-items: center;
 justify-content: flex-start;
}
.user,
.user-m {
 font-family: "grotesk-medium", sans-serif;
 color: #26336a;
 font-size: 2rem;
 position: relative;
 right: 2rem;
 padding-left: 1.4rem;
}
.user-m {
 display: -webkit-box;
 -webkit-line-clamp: 1;
 -webkit-box-orient: vertical;
 overflow: hidden;
}
.user-img {
 position: relative;
 bottom: 0.5rem;
 padding-right: 2rem;
}
.date {
 font-family: "grotesk-medium", sans-serif;
 color: #808080;
 font-size: 1.6rem;
}
.category {
 font-size: 1.8rem;
 background-color: #000;
 color: #fff;
 font-family: "grotesk-medium", sans-serif;
 display: inline-block;
 padding: 0.9rem 1.7rem;
 text-align: center;
 position: absolute;
 top: 10%;
 left: -2%;
}
.flex {
 padding: 1rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.btn-load-div {
 display: flex;
 align-items: center;
 justify-content: center;
 padding-top: 10rem;
 background-color: #f3f3f3;
 padding-bottom: 4rem;
}
.load {
 padding: 1rem 5rem 1rem 5rem;
 font-size: 2rem;
 background-color: var(--primary-color);
 font-family: "grotesk-medium", sans-serif;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.newsletter {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 10rem;
 margin-bottom: 10rem;
 background-color: #eef1f6;
 padding: 4rem 7rem;
 width: 50%;
 border-radius: 1rem;
}
.input-group {
 height: 7rem;
 width: 80%;
 position: relative;
 box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
 border-radius: 0.7rem;
}
.email {
 font-size: 1.5rem;
 color: black;
 padding-left: 2rem;
 font-weight: 600;
 position: relative;
 outline: none;
 border: none;
 padding-right: 17rem;
 width: 100%;
}
#button-addon2 {
 background-color: var(--primary-color);
 color: #fff;
 font-size: 1.6rem;
 padding: 1.5rem 2.7rem;
 position: absolute;
 right: 2%;
 top: 12%;
 border-radius: 0.5rem;
}
.subscribe {
 text-align: center;
 text-transform: capitalize;
 color: #26336a;
 font-weight: 700;
 font-size: 3rem;
 font-family: "grotesk-medium", sans-serif;
}
span {
 color: var(--primary-color);
}
i {
 padding: 1rem;
 background-color: var(--primary-color);
 font-size: 2rem;
 color: #fff;
 border-radius: 50%;
 text-align: center;
 margin-right: 1rem;
}
.vertical {
 display: flex;
 align-items: center;
 justify-content: center;
}
.text {
 font-size: 1.8rem;
 color: #26336a;
}
.footer {
 margin-top: 10rem;
 padding-bottom: 10rem;
 padding-top: 5rem;
 background-color: #f5f5f5;
}
.footer-link {
 display: block;
 text-decoration: none;
 font-size: 1.8rem;
 color: #6f6f6f;
 line-height: 4rem;
}
.center {
 padding-left: 10rem;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
}
.jobs,
.jobs-active {
 color: #000;
 font-family: "grotesk-medium", sans-serif;
 font-weight: bold;
}
.jobs-active {
 color: #26336a;
}
.copyright {
 background-color: var(--primary-color);
 padding: 2.5rem 0;
 color: #fff;
 text-align: center;
 font-size: 1.4rem;
 margin: 0;
}
.width-100 {
 width: 100%;
 margin: 0;
 padding: 0;
}

/* media queries */
@media (max-width: 1400px) {
 html {
  font-size: 40%;
 }
 #navbarNav {
  justify-content: space-around;
 }
 .footer {
  padding-left: 0;
 }
 .center {
  padding-left: 5rem;
 }
 .input-group {
  width: 80%;
 }
 .stories-bg {
  padding: 0 5rem;
 }
 #button-addon2 {
  position: absolute;
  right: 2%;
 }
}

@media (max-width: 900px) {
 html {
  font-size: 40%;
 }
 .footer {
  padding-left: 1em;
 }
 .input-group {
  width: 90%;
 }
 #earn {
  display: none;
 }
 .navbar-brand {
  position: relative;
  left: 4rem;
 }
 .card {
  margin-top: 3rem;
 }
 .navbar-toggler {
  margin-right: 2rem;
 }
 .navbar-toggler-icon {
  position: relative;
  bottom: 2.5rem;
  right: 1.7rem;
 }
 .fa-bars {
  font-size: 3.5rem;
  text-align: center;
  padding: 1.2rem;
  color: black;
  background-color: #fff;
 }
 .flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }
 .navbar-collapse {
  z-index: 1;
 }
 .navbar-nav {
  padding: 2rem;
 }
}

@media (max-width: 600px) {
 .navbar-brand {
  position: relative;
  left: 1rem;
 }
 .navbar-collapse {
  z-index: 1;
 }
 .flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }
 .card {
  margin-top: 2rem;
 }
 #earn {
  display: none;
 }
 .footer {
  padding-left: 0;
 }
 .stories-bg {
  padding: 0;
  margin-left: 2rem;
 }
 .newsletter {
  width: 100%;
 }
 .input-group {
  width: 90%;
 }
}

@media (min-width: 992px) {
 .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
 }
}
@media (min-width: 1800px) {
 html {
  font-size: 50%;
 }
 #navbarNav {
  justify-content: space-around;
 }
 .stories-bg {
  padding: 0 5em;
 }
 #button-addon2 {
  position: absolute;
  right: 2%;
 }
}
