* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-weight: 400;
}
.emailstatic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 4rem;
  border: 0.1rem solid #6f6f6f;
}
#cross {
  position: relative;
  left: 30%;
  top: 0vw;
  font-weight: 300;
}
.job-offers {
  padding-left: 1rem;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid #e4e2e0;
}
.activate {
  color: #2557a7;
}
.font-size {
  font-size: 1.2rem;
  color: #6f6f6f;
}
.ll {
  color: #2557a7;
}
.ll:hover {
  border-bottom: 0.1rem solid #2557a7;
}
.static-form-div {
  /* position: relative;
  right: 0%; */
  width: 40%;
  bottom: 3vw;
  border: 0.1rem solid #bdc3c7;
  padding: 3rem;
  border-radius: 0.1rem;
}
.applogo {
  height: 6.5rem;
  border-radius: 1.4rem;
  border: 0.1rem solid #bdc3c7;
}
.get {
  font-size: 1.5rem;
  font-weight: 400;
}
.fa-times {
  font-size: 2rem;
  position: relative;
  bottom: 2.5rem;
  right: 1rem;
  font-weight: lighter;
}
.pos {
  position: relative;
  right: 11rem;
}
.popup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: inset 0px 2px 5px -1px rgb(0 0 0 / 50%),
    inset 0px -2px 5px -1px rgb(0 0 0 / 50%);
  padding: 1.7rem;
  width: 66vw;
  margin-bottom: 1rem;
  display: none;
}
.popup-free {
  color: #2557a7;
  position: relative;
  left: 4vw;
  font-weight: bold;
}
.down {
  font-weight: bold;
}
.ryt-popup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  height: 4rem;
  margin-top: 0.1rem;
  /* color: #00c; */
}
.left-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
nav {
  position: relative;
  top: 1rem;
  font-size: 1.7rem;
  margin-right: 2rem;
  text-transform: capitalize;
  color: #2d3436;
  cursor: pointer;
  padding-bottom: 1rem;
}

nav:hover {
  border-bottom: 0.2rem solid #00c;
}
svg {
  padding-top: 0.5rem;
}

.right-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid #dfe6e9;
}
.right {
  text-decoration: none;
  font-size: 1.7rem;
  margin-right: 2rem;
  text-transform: capitalize;
  padding-top: 1.8rem;
  color: #2d3436;
  margin-bottom: 0.5rem;
}
#break {
  font-weight: 700;
  color: #00c;
}
a {
  display: inline;
  font-size: 1.3rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #2d3436;
  margin-left: 0.5rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
}
input {
  padding: 1rem;
  margin: 1rem 0.1rem 1rem 1rem;
  width: 26vw;
  border-radius: 0.5rem;
  border: 0.1rem solid #595959;
  height: 7vh;
  font-weight: 400;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  outline: none;
  color: #fff;
}
label {
  position: relative;
  left: 5%;
  font-size: 1.5rem;
  font-weight: 700;
}
.jobs {
  padding: 1.7rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: #2557a7;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
.filter {
  width: 13%;
  font-size: 1.3rem;
  background-color: #e4e2e0;
  color: #2d3436;
  border: none;
}
.dropdown-box1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #dfe6e9;
}
.job-section {
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 3rem;
}
.head {
  display: inline;
}
.upload {
  color: #00c;
  font-size: 1.6rem;
}
h4 {
  font-size: 1.6rem;
}
.head {
  margin-bottom: 4rem;
  border-bottom: 0.1rem solid #dfe6e9;
  padding-right: 20rem;
  padding-bottom: 2rem;
}
.reference {
  color: #2d3436;
  position: relative;
  left: 1rem;
  top: 3rem;
}
.filterbox-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-box,
.filter-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -30%;
  top: 5rem;
}
.sort {
  font-size: 1.6rem;
  word-spacing: 0.1rem;
  margin-right: 0.3rem;
}
.relevence {
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 0.3rem;
}
.date {
  color: #2557a7;
  font-size: 1.6rem;
}
.page {
  margin-right: 0.3rem;
  font-size: 1.4rem;
  padding-left: 6rem;
  margin-left: 5rem;
}
.job-description {
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr; */
  padding-left: 20rem;
  padding-right: 20rem;
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.job-details {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2.5rem;
  border: 0.2rem solid #e4e2e0;
  width: 32vw;
  margin-top: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
input {
  color: black;
}

.job-details:active {
  border: 0.1rem solid #2557a7;
}
.paypal {
  height: 2rem;
}
.headingofjob {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-ellipsis-v {
  font-size: 1.7rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.job-link {
  font-size: 2rem;
  color: black;
  margin: 0;
  padding: 0%;
}
.random {
  padding-top: 3rem;
}
.job-link:hover {
  border-bottom: 0.2rem solid black;
}
.pay {
  font-size: 1.9rem;
  font-weight: 400;
}
.rating {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.fa-star {
  color: #7f8c8d;
  font-size: 1.4rem;
}
.job-info {
  text-align: left;
  font-size: 1.6rem;
  padding: 1rem 1rem;
  color: #6f6f6f;
  line-height: 1.3;
  font-weight: 400;
}
.lastdays {
  color: #6f6f6f;
  font-size: 1.3rem;
}
.new {
  color: #c0392b;
  font-size: 1.5rem;
}
x {
  display: flex;
  flex-direction: column;
}
.fa-chevron-right {
  color: #2557a7;
}
.cap {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.6rem;
}
.stickydiv {
  padding: 2rem;
  /* margin: 2rem; */
  border: 2px solid #e4e2e0;
  cursor: pointer;
  border-radius: 0.7rem;
  border-bottom: 0.1rem solid #e4e2e0;
  position: sticky;
  top: 2%;
  display: none;
  height: 80vh;
  /* width: auto; */
  /* bottom: 40%; */
  /* right: 10%;
  left: auto; */
  /* width: 40%; */
  /* position: relative;
  top: -7rem; */
}
.paypalimg {
  height: 4.2rem;
}
.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textdiv {
  padding-left: 1.2rem;
}
.job-links {
  font-size: 1.9rem;
  font-weight: bold;
  color: #2d2d2d;
}
.font {
  font-size: 1.4rem;
  font-weight: 400;
  color: #2d2d2d;
}
.colorchnge {
  color: #2557a7;
}
.idk {
  color: #2d2d2d;
  text-align: center;
  font-size: 1.2rem;
}
.apply {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.7rem;
  background-color: #2557a7;
  color: #fff;
  outline: none;
  border: none;
  margin: 0.8rem 0.8rem 0.8rem 0rem;
}
.fa-heart {
  padding: 1rem;
  background-color: #e4e2e0;
  font-size: 2.4rem;
  margin-left: 1rem;
  border-radius: 0.7rem;
}
.paragraph {
  height: 60vh;
  overflow: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.longdesc {
  color: #2d3436;
  font-size: 1.4rem;
}
.apply2 {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  border-radius: 0.7rem;
  font-weight: 400;
  background-color: #e4e2e0;
  color: #2d2d2d;
  outline: none;
  border: none;
  margin: 0.8rem 0.8rem 0.8rem 0rem;
}
.fa-flag {
  padding-right: 1rem;
}
.fa-bars {
  font-size: 4rem;
  position: relative;
  bottom: 1rem;
}
.signIn {
  background-color: #2557a7;
  color: #fff;
  font-weight: bold;
}
.fa-user-cog {
  color: #fff;
}
.fa-user-cog,
.signIn,
#bars {
  display: none;
}
.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  padding: 1.8rem;
  background-color: #dfe6e9;
  border: none;
  margin: 1rem;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  outline: none;
  cursor: pointer;
  color: #2d2d2d;
}
#right {
  color: #2d2d2d;
}
.suggestion {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 35vw;
}
button {
  padding: 1.2rem;
  background-color: #dfe6e9;
  border: none;
  margin: 1rem;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  outline: none;
  cursor: pointer;
  color: #2d2d2d;
  text-transform: capitalize;
}
.nex {
  padding: 1.7rem 5rem;
  width: 68vw;
  background-color: #2557a7;
  font-weight: bold;
  border: none;
  margin: 2rem;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
}
.whatsapp {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  right: 15%;
  margin-bottom: 2rem;
}
.pagination,
button {
  background-color: #e4e2e0;
}
.node {
  font-weight: bold;
}
.whats {
  position: relative;
  bottom: 4rem;
  font-size: 1.5rem;
  left: 6rem;
}
.and {
  /* margin-left: 50%;
margin-right: 50%; */
  text-align: center;
  font-size: 2rem;
  position: relative;
  bottom: 1.7rem;
  margin-bottom: 3rem;
}
.form {
  /* border-bottom: .1rem solid #bdc3c7; */
  padding-bottom: 5rem;
}
.smallinp {
  border: 0.1rem solid #bdc3c7;
}
.biginp {
  width: 45vw;
  border: 0.1rem solid #bdc3c7;
}
.formdiv {
  margin-top: 15rem;
  margin-bottom: 4rem;
}
.emailinp {
  width: 67vw;
  position: relative;
  left: -1rem;
  border: 0.1rem solid #bdc3c7;
  text-align: left;
}
.locinp {
  text-align: left;
  width: 67.5vw;
  position: relative;
  left: -1.7rem;
  border: 0.1rem solid #bdc3c7;
  margin-top: 4rem;
  margin-bottom: 5rem;
  /* border-radius: 4rem; */
}
.emaillabel {
  position: relative;
  bottom: 4rem;
  font-size: 1.5rem;
  left: 4rem;
}
.loclabel {
  position: relative;
  bottom: 2rem;
  font-size: 1.5rem;
}
.latest-jobs {
  padding: 1.2rem 2rem 1.2rem 2rem;
  color: #2d2d2d;
  font-weight: bold;
  background-color: #bdc3c7;
  margin: 2rem;
}
.nextpage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2rem solid #bdc3c7;
}
.resume-section,
.formdiv,
.form,
.email,
.loc,
.btn-jobs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-jobs,
.resume-section {
  flex-direction: column;
}
/* .seo,
.fa-map-marker-alt {
  position: relative;
  right: 3.5rem;
  color: #52595e;
  font-size: 1.8rem;
} */
.wt,
.whereinp {
  border: 1px solid #52595e;
}

.resume-section {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #bdc3c7;
}
.people-search {
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #bdc3c7;
}
.oi {
  padding-bottom: 2rem;
}
.related-search {
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: space-around;
}
.related,
.fa-angle-down {
  font-size: 1.7rem;
}
.firstbox {
  margin-left: 30rem;
  margin-right: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 1.4rem;
  border-bottom: 0.1rem solid #dfe6e9;
}
.fff {
  font-size: 1.6rem;
  font-weight: bold;
}
.fa-plus-circle {
  font-size: 2rem;
}
.foot {
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.fa-search {
  padding-right: 1rem;
}
.blue {
  color: #2557a7;
}

button {
  font-weight: bold;
}
.icon {
  display: block;
  background: none;
  display: flex;
  flex-direction: column;
  display: none;
}
/* .fa-ellipsis-v{
  display: none;
} */
#heart {
  padding: 0.3rem;
  background: none;
  font-size: 2.7rem;
  font-weight: 400;
}
.fa-ban {
  padding: 0.3rem;
  background: none;
  font-size: 2.7rem;
  font-weight: 400;
  margin-left: 0.8rem;
  margin-top: 1.3rem;
}
.resume-text {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.people {
  position: relative;
  left: 2rem;
}
.job-alert {
  text-align: center;
  color: #52595e;
  font-size: 1.5rem;
  /* text-transform: capitalize; */
}
.people-search {
  padding-left: 24rem;
  padding-right: 24rem;
  margin-top: 3rem;
}
.terms {
  color: #2557a7;
}
.footer {
  padding: 4rem 25rem 4rem 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.1rem solid #dfe6e9;
  border-top: 0.1rem solid #dfe6e9;
}
.footer-links {
  font-size: 1.8rem;
  text-align: left;
  text-transform: capitalize;
  /* margin: 0%; */
  /* padding: 0%; */
}
/* .footer-links:hover {
  border-bottom: 1px solid #2d2d2d;
} */
.footer-last {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 3rem;
  background-color: #ecf0f1;
}
.find {
  font-size: 3rem;
  color: #2d3436;
  font-weight: bold;
}
.upload-resume {
  padding: 1rem 2rem 1rem 2rem;
  background-color: #2557a7;
  color: #fff;
  font-weight: bold;
}

#searchbar {
  display: none;
}
.nextpage,
.formdiv,
.form,
.and,
.email,
.loc,
.btn-jobs,
.people-search,
.resume-section,
.related-search,
.firstbox,
.foot {
  display: none;
}



/* media queries */
@media (max-width: 1225px) {
  html {
    font-size: 9px;
  }
  input {
    width: 20%;
    height: 10%;
    font-size: 1.2rem;
    text-align: right;
    color: black;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -38%;
    top: 5rem;
  }
  label {
    font-size: 1rem;
  }
  .job-description {
    padding: 0rem 10rem;
  }
  .page {
    position: relative;
    right: 10rem;
  }
  .popup {
    display: block;
    height: 7vh;
    display: flex;
    position: relative;
    left: 17%;
    /* padding-bottom: 1rem; */
  }
  .relevence,
  .date,
  .sort {
    display: none;
  }
  .stickydiv {
    display: none !important;
  }
  .job-details {
    width: 65vw;
    margin-left: 10rem;
  }
  .x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
  }
  nav {
    padding-bottom: 1rem;
  }
  .right {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .main {
    margin-top: 0;
  }
  .whereinp,
  .jobs,
  .advance,
  .where {
    display: none;
  }
  .wt {
    width: 65vw;
    height: 4.5rem;
    position: relative;
    left: 0%;
    text-align: center;
    font-size: 1.6rem;
    border: 0.1rem solid #bdc3c7;
  }
  #searchbar {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    left: 5rem;
    color: #bdc3c7;
    z-index: 1;
  }
  .xx {
    display: none;
  }
  .dropdown-box1 {
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    margin: 0 20rem;
    padding: 0%;
  }
  .filter {
    width: 10vw;
    text-align: center;
  }
  .nextpage,
  .formdiv,
  .form,
  .and,
  .email,
  .loc,
  .btn-jobs,
  .people-search,
  .resume-section,
  .related-search,
  .firstbox,
  .foot {
    display: block;
  }
  .footer,
  .button-section,
  .suggestion,
  .footer-last {
    display: none;
  }
  .nextpage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-section,
  .formdiv,
  .form,
  .email,
  .loc,
  .btn-jobs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstbox {
    margin-left: 30rem;
    margin-right: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1.4rem;
    border-bottom: 0.1rem solid #dfe6e9;
  }
  .whatsapp {
    position: relative;
    right: 8%;
  }
  .smallinp,
  .biginp {
    position: relative;
    right: 2rem;
    text-align: left;
  }
  .related-search {
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-around;
  }
  .latest-jobs {
    background-color: #e4e2e0;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .nex {
    width: 66vw;
  }
  .loclabel {
    position: relative;
    bottom: 3.5rem;
  }
  .emaillabel {
    position: relative;
    bottom: 3.5rem;
  }

  .static-form-div {
    display: none;
  }
  .fa-map-marker-alt {
    display: none;
  }
 
}

@media (max-width: 769px) {
  html {
    font-size: 7px;
  }
  input {
    width: 24%;
    height: 10%;
    font-size: 1rem;
    text-align: right;
  }
  .job-description {
    padding: 0rem 10rem;
  }
  label {
    font-size: 1rem;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -37%;
    top: 5rem;
  }

  .page {
    position: relative;
    right: 10rem;
  }
  .popup {
    display: block;
    height: 7vh;
    display: flex;
  }
  .relevence,
  .date,
  .sort {
    display: none;
  }
  .stickydiv {
    display: none !important;
  }
  .job-details {
    width: 65vw;
    margin-left: 9rem;
  }
  .x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
  }
  nav {
    padding-bottom: 1rem;
  }
  .right {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .main {
    margin-top: 0;
  }
  .whereinp,
  .jobs,
  .advance,
  .where {
    display: none;
  }
  .wt {
    width: 65vw;
    height: 4.5rem;
    position: relative;
    left: -1%;
    text-align: center;
    font-size: 1.6rem;
    border: 0.1rem solid #bdc3c7;
  }
  #searchbar {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    left: 5rem;
    color: #bdc3c7;
    z-index: 1;
  }
  .xx {
    display: none;
  }
  .dropdown-box1 {
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    margin: 0 20rem;
    padding: 0%;
  }
  .filter {
    width: 10vw;
    text-align: center;
  }
  .nextpage,
  .formdiv,
  .form,
  .and,
  .email,
  .loc,
  .btn-jobs,
  .people-search,
  .resume-section,
  .related-search,
  .firstbox,
  .foot {
    display: block;
  }
  .footer,
  .button-section,
  .suggestion,
  .footer-last {
    display: none;
  }
  .nextpage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-section,
  .formdiv,
  .form,
  .email,
  .loc,
  .btn-jobs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstbox {
    margin-left: 30rem;
    margin-right: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1.4rem;
    border-bottom: 0.1rem solid #dfe6e9;
  }
  .whatsapp {
    position: relative;
    right: 8%;
  }
  .biginp {
    width: 40vw;
  }
  .smallinp,
  .biginp {
    position: relative;
    right: 2rem;
    text-align: left;
  }
  .related-search {
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-around;
  }
  .latest-jobs {
    background-color: #e4e2e0;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .loclabel {
    position: relative;
    bottom: 3.5rem;
  }
  .emaillabel {
    position: relative;
    bottom: 3.5rem;
  }
  .static-form-div {
    display: none;
  }
  .static-form-div {
    display: none;
  }
  .fa-map-marker-alt {
    display: none;
  }
}

@media (max-width: 541px) {
  html {
    font-size: 9px;
  }
  input {
    width: 27%;
    height: 10%;
    font-size: 1rem;
    text-align: right;
  }
  /* .dropdown-box1 {
    padding: 0rem 10rem;
  } */
  .job-description,
  .job-section {
    padding: 0rem 2rem;
  }
  .job-section {
    padding: 4rem;
  }
  .nex {
    width: 90vw;
  }

  label {
    font-size: 1.1rem;
    position: relative;
    left: 6rem;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -27%;
    top: 9rem;
  }
  nav,
  .right {
    display: none;
  }
  .job-details {
    width: 60vw;
  }
  .page,
  .relevence,
  .date,
  .sort {
    font-size: 1.2rem;
  }
  .fa-user-cog,
  .signIn,
  #bars {
    display: block;
  }

  .page {
    position: relative;
    right: 10rem;
  }
  .popup {
    display: block;
    height: 9vh;
    display: flex;
    width: 100vw;
    position: relative;
    left: 0%;
    margin-top: 1rem;
  }
  .relevence,
  .date,
  .sort {
    display: none;
  }
  .stickydiv {
    display: none !important;
  }
  .job-details {
    width: 90vw;
    margin-left: 1rem;
  }
  .x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
  }
  nav {
    padding-bottom: 1rem;
  }
  .right {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .main {
    margin: 0;
    padding: 0;
    position: relative;
    left: -10px;
  }
  .whereinp,
  .jobs,
  .advance,
  .where {
    display: none;
  }
  .wt {
    width: 100vw;
    height: 4.5rem;
    position: relative;
    left: 1%;
    text-align: center;
    font-size: 1.6rem;
    border: 0.1rem solid #bdc3c7;
  }
  #searchbar {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    left: 5rem;
    color: #bdc3c7;
    z-index: 1;
  }
  .xx {
    display: none;
  }
  .dropdown-box1 {
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    margin: 0 1rem;
    padding: 0%;
  }
  .filter {
    width: 25vw;
    text-align: center;
    font-size: 2rem;
  }

  .nextpage,
  .formdiv,
  .form,
  .and,
  .email,
  .loc,
  .btn-jobs,
  .people-search,
  .resume-section,
  .related-search,
  .firstbox,
  .foot {
    display: block;
  }
  .footer,
  .button-section,
  .suggestion,
  .footer-last {
    display: none;
  }
  .nextpage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-section,
  .formdiv,
  .form,
  .email,
  .loc,
  .btn-jobs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstbox {
    margin-left: 30rem;
    margin-right: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1.4rem;
    border-bottom: 0.1rem solid #dfe6e9;
  }
  .formdiv {
    margin-top: 1rem;
  }
  .whatsapp {
    position: relative;
    margin: 2rem;
    right: -1%;
    padding: 2rem;
    font-size: 3rem;
  }
  .whats {
    position: relative;
    left: 5rem;
    bottom: 5rem;
    font-size: 2rem;
  }
  .biginp,
  .smallinp {
    width: 40vw;
    height: 7vh;
    border: 0.2rem solid #bdc3c7;
  }
  .smallinp,
  .biginp {
    position: relative;
    right: 5rem;
    font-size: 1.5rem;
    text-align: left;
  }
  .emaillabel {
    position: relative;
    bottom: 4.6rem;
    font-size: 2.1rem;
    left: 3.6rem;
  }
  .emailinp {
    width: 82vw;
    height: 7vh;
    position: relative;
    left: -3rem;
    border: 0.1rem solid #bdc3c7;
    text-align: left;
    border: 0.2rem solid #bdc3c7;
  }
  .locinp {
    text-align: left;
    width: 82vw;
    height: 7vh;
    position: relative;
    left: -4rem;
    border: 0.2rem solid #bdc3c7;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
  }
  .loclabel {
    font-size: 1.9rem;
    position: relative;
    bottom: 5rem;
    left: 4.7rem;
  }
  .latest-jobs {
    background-color: #e4e2e0;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .related-search {
    padding-left: 15rem;
    padding-right: 10rem;
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-around;
  }
  .job-alert {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .terms {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .people-search {
    padding: 2rem;
  }
  button {
    background-color: #e4e2e0;
  }
  .resume-text,
  .oi {
    font-size: 1.5rem;
  }
  .firstbox {
    margin: 0;
    padding: 2rem;
    border-bottom: 0.1rem solid #bdc3c7;
  }
  .fff {
    font-size: 2rem;
    font-weight: 700;
  }
  .fa-plus-circle {
    font-size: 2.5rem;
  }
  .foot {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
    padding-left: 1rem;
  }
  .icon {
    display: block;
    background: none;
    display: flex;
    flex-direction: column;
  }
  #three {
    display: none;
  }
  #bars {
    padding-right: 1rem;
  }
  .fa-map-marker-alt {
    display: none;
  }
}

@media (max-width: 415px) {
  html {
    font-size: 7px;
  }
  input {
    width: 27%;
    height: 10%;
    font-size: 1rem;
    text-align: right;
  }
  .dropdown-box1 {
    padding: 0rem 10rem;
  }
  .job-description,
  .job-section {
    padding: 2rem 5rem;
  }
  label {
    font-size: 1.1rem;
    position: relative;
    left: 6rem;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -27%;
    top: 9rem;
  }
  nav,
  .right {
    display: none;
  }

  .job-description,
  .job-section {
    padding: 2rem 2rem;
  }
  .dropdown-box1 {
    padding: 0rem;
  }
  .job-description,
  .job-section {
    padding: 0rem 2rem;
  }
  .job-section {
    padding: 4rem;
  }
  .nex {
    width: 90vw;
  }

  label {
    font-size: 1.1rem;
    position: relative;
    left: 6rem;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -27%;
    top: 9rem;
  }
  nav,
  .right {
    display: none;
  }
  .job-details {
    width: 60vw;
  }
  .page,
  .relevence,
  .date,
  .sort {
    font-size: 1.2rem;
  }
  .fa-user-cog,
  .signIn,
  #bars {
    display: block;
  }

  .page {
    position: relative;
    right: 10rem;
  }
  .popup {
    display: block;
    height: 9vh;
    display: flex;
    width: 100vw;
    position: relative;
    left: 0%;
    margin-top: 1rem;
  }
  .relevence,
  .date,
  .sort {
    display: none;
  }
  .stickydiv {
    display: none !important;
  }
  .job-details {
    width: 90vw;
    margin-left: 1rem;
  }
  .x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
  }
  nav {
    padding-bottom: 1rem;
  }
  .right {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .main {
    margin: 0;
    padding: 0;
    position: relative;
    left: -10px;
  }
  .whereinp,
  .jobs,
  .advance,
  .where {
    display: none;
  }
  .wt {
    width: 100vw;
    height: 4.5rem;
    position: relative;
    left: 2%;
    text-align: center;
    font-size: 1.6rem;
    border: 0.1rem solid #bdc3c7;
  }
  #searchbar {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    left: 5rem;
    color: #bdc3c7;
    z-index: 1;
  }
  .xx {
    display: none;
  }
  .dropdown-box1 {
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    margin: 0 1rem;
    padding: 0%;
  }
  .filter {
    width: 25vw;
    text-align: center;
    font-size: 2rem;
  }
  .icon {
    display: block;
    background: none;
    display: flex;
    flex-direction: column;
  }
  #three {
    display: none;
  }

  .nextpage,
  .formdiv,
  .form,
  .and,
  .email,
  .loc,
  .btn-jobs,
  .people-search,
  .resume-section,
  .related-search,
  .firstbox,
  .foot {
    display: block;
  }
  .footer,
  .button-section,
  .suggestion,
  .footer-last {
    display: none;
  }
  .nextpage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-section,
  .formdiv,
  .form,
  .email,
  .loc,
  .btn-jobs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstbox {
    margin-left: 30rem;
    margin-right: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1.4rem;
    border-bottom: 0.1rem solid #dfe6e9;
  }
  .formdiv {
    margin-top: 1rem;
  }
  .whatsapp {
    position: relative;
    margin: 2rem;
    right: -1%;
    padding: 2rem;
    font-size: 3rem;
  }
  .whats {
    position: relative;
    left: 5rem;
    bottom: 6rem;
    font-size: 2rem;
  }
  .biginp,
  .smallinp {
    width: 40vw;
    height: 7vh;
    border: 0.2rem solid #bdc3c7;
  }
  .smallinp,
  .biginp {
    position: relative;
    right: 5rem;
    font-size: 1.5rem;
    text-align: left;
  }
  .emaillabel {
    position: relative;
    bottom: 5.6rem;
    font-size: 2.1rem;
    left: 3.6rem;
  }
  .emailinp {
    width: 82vw;
    height: 7vh;
    position: relative;
    left: -3rem;
    border: 0.1rem solid #bdc3c7;
    text-align: left;
    border: 0.2rem solid #bdc3c7;
  }
  .locinp {
    text-align: left;
    width: 82vw;
    height: 7vh;
    position: relative;
    left: -4rem;
    border: 0.2rem solid #bdc3c7;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
  }
  .loclabel {
    font-size: 1.9rem;
    position: relative;
    bottom: 5.8rem;
    left: 4.7rem;
  }
  .latest-jobs {
    background-color: #e4e2e0;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .related-search {
    padding-left: 15rem;
    padding-right: 10rem;
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-around;
  }
  .job-alert {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .terms {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .people-search {
    padding: 2rem;
  }
  button {
    background-color: #e4e2e0;
  }
  .resume-text,
  .oi {
    font-size: 1.5rem;
  }
  .firstbox {
    margin: 0;
    padding: 2rem;
    border-bottom: 0.1rem solid #bdc3c7;
  }
  .fff {
    font-size: 2rem;
    font-weight: 700;
  }
  .fa-plus-circle {
    font-size: 2.5rem;
  }
  .foot {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
    padding-left: 1rem;
  }
  #bars {
    padding-right: 1rem;
  }
}
@media (max-width: 361px) {
  html {
    font-size: 7px;
  }
  input {
    width: 27%;
    height: 10%;
    font-size: 1rem;
    text-align: right;
  }
  .dropdown-box1 {
    padding: 0rem 10rem;
  }
  .job-description,
  .job-section {
    padding: 2rem 5rem;
  }
  label {
    font-size: 1.1rem;
    position: relative;
    left: 6rem;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -27%;
    top: 9rem;
  }
  nav,
  .right {
    display: none;
  }
  .job-details {
    width: 90vw;
  }
  .page,
  .relevence,
  .date,
  .sort {
    font-size: 1.2rem;
  }
  .fa-user-cog,
  .signIn,
  #bars {
    display: block;
  }
  .job-description,
  .job-section {
    padding: 2rem 2rem;
  }
  .dropdown-box1 {
    padding: 0rem;
  }
  .job-description,
  .job-section {
    padding: 0rem 2rem;
  }
  .job-section {
    padding: 4rem;
  }
  .nex {
    width: 90vw;
  }

  label {
    font-size: 1.1rem;
    position: relative;
    left: 6rem;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -27%;
    top: 9rem;
  }
  nav,
  .right {
    display: none;
  }
  .job-details {
    width: 60vw;
  }
  .page,
  .relevence,
  .date,
  .sort {
    font-size: 1.2rem;
  }
  .fa-user-cog,
  .signIn,
  #bars {
    display: block;
  }

  .page {
    position: relative;
    right: 10rem;
  }
  .popup {
    display: block;
    height: 9vh;
    display: flex;
    width: 100vw;
    position: relative;
    left: 0%;
    margin-top: 1rem;
  }
  .relevence,
  .date,
  .sort {
    display: none;
  }
  .stickydiv {
    display: none !important;
  }
  .job-details {
    width: 90vw;
    margin-left: 1rem;
  }
  .x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
  }
  nav {
    padding-bottom: 1rem;
  }
  .right {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .main {
    margin: 0;
    padding: 0;
    position: relative;
    left: -10px;
  }
  .whereinp,
  .jobs,
  .advance,
  .where {
    display: none;
  }
  .wt {
    width: 100vw;
    height: 4.5rem;
    position: relative;
    left: 2%;
    text-align: center;
    font-size: 1.6rem;
    border: 0.1rem solid #bdc3c7;
  }
  #searchbar {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    left: 5rem;
    color: #bdc3c7;
    z-index: 1;
  }
  .xx {
    display: none;
  }
  .dropdown-box1 {
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    margin: 0 1rem;
    padding: 0%;
  }
  .filter {
    width: 25vw;
    text-align: center;
    font-size: 2rem;
  }

  .nextpage,
  .formdiv,
  .form,
  .and,
  .email,
  .loc,
  .btn-jobs,
  .people-search,
  .resume-section,
  .related-search,
  .firstbox,
  .foot {
    display: block;
  }
  .footer,
  .button-section,
  .suggestion,
  .footer-last {
    display: none;
  }
  .nextpage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-section,
  .formdiv,
  .form,
  .email,
  .loc,
  .btn-jobs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstbox {
    margin-left: 30rem;
    margin-right: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1.4rem;
    border-bottom: 0.1rem solid #dfe6e9;
  }
  .formdiv {
    margin-top: 1rem;
  }
  .whatsapp {
    position: relative;
    margin: 2rem;
    right: -1%;
    padding: 2rem;
    font-size: 3rem;
  }
  .whats {
    position: relative;
    left: 5rem;
    bottom: 5rem;
    font-size: 2rem;
  }
  .biginp,
  .smallinp {
    width: 40vw;
    height: 7vh;
    border: 0.2rem solid #bdc3c7;
  }
  .smallinp,
  .biginp {
    position: relative;
    right: 5rem;
    font-size: 1.5rem;
    text-align: left;
  }
  .emaillabel {
    position: relative;
    bottom: 4.6rem;
    font-size: 2.1rem;
    left: 3.6rem;
  }
  .emailinp {
    width: 82vw;
    height: 7vh;
    position: relative;
    left: -3rem;
    border: 0.1rem solid #bdc3c7;
    text-align: left;
    border: 0.2rem solid #bdc3c7;
  }
  .locinp {
    text-align: left;
    width: 82vw;
    height: 7vh;
    position: relative;
    left: -4rem;
    border: 0.2rem solid #bdc3c7;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
  }
  .loclabel {
    font-size: 1.9rem;
    position: relative;
    bottom: 5rem;
    left: 4.7rem;
  }
  .latest-jobs {
    background-color: #e4e2e0;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .related-search {
    padding-left: 15rem;
    padding-right: 10rem;
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-around;
  }
  .job-alert {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .terms {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .people-search {
    padding: 2rem;
  }
  button {
    background-color: #e4e2e0;
  }
  .resume-text,
  .oi {
    font-size: 1.5rem;
  }
  .firstbox {
    margin: 0;
    padding: 2rem;
    border-bottom: 0.1rem solid #bdc3c7;
  }
  .fff {
    font-size: 2rem;
    font-weight: 700;
  }
  .fa-plus-circle {
    font-size: 2.5rem;
  }
  .foot {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
    padding-left: 1rem;
  }
  button {
    width: 40vw;
  }
  .latest-jobs {
    width: 50vw;
  }
  .icon {
    display: block;
    background: none;
    display: flex;
    flex-direction: column;
  }
  #three {
    display: none;
  }
  #bars {
    padding-right: 1rem;
  }
  .signIn {
    width: 25vw;
  }
}

@media (max-width: 321px) {
  html {
    font-size: 6px;
  }
  .latest-jobs {
    width: 50vw;
  }
  input {
    width: 27%;
    height: 10%;
    font-size: 1rem;
    text-align: right;
  }
  .dropdown-box1 {
    padding: 0rem 10rem;
  }
  .job-description,
  .job-section {
    padding: 2rem 5rem;
  }
  label {
    font-size: 1.1rem;
    position: relative;
    left: 6rem;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -27%;
    top: 9rem;
  }
  nav,
  .right {
    display: none;
  }
  .job-details {
    width: 90vw;
  }
  .page,
  .relevence,
  .date,
  .sort {
    font-size: 1.2rem;
  }
  .fa-user-cog,
  .signIn,
  #bars {
    display: block;
  }
  .job-description,
  .job-section {
    padding: 2rem 2rem;
  }
  .dropdown-box1 {
    padding: 0rem;
  }
  .job-description,
  .job-section {
    padding: 0rem 2rem;
  }
  .job-section {
    padding: 4rem;
  }
  .nex {
    width: 90vw;
  }

  label {
    font-size: 1.1rem;
    position: relative;
    left: 6rem;
  }
  .filter-box,
  .filter-box2 {
    position: relative;
    left: -27%;
    top: 9rem;
  }
  nav,
  .right {
    display: none;
  }
  .job-details {
    width: 60vw;
  }
  .page,
  .relevence,
  .date,
  .sort {
    font-size: 1.2rem;
  }
  .fa-user-cog,
  .signIn,
  #bars {
    display: block;
  }
  #bars {
    padding-right: 1rem;
  }

  .page {
    position: relative;
    right: 10rem;
  }
  .popup {
    display: block;
    height: 9vh;
    display: flex;
    width: 100vw;
    position: relative;
    left: 0%;
    margin-top: 1rem;
  }
  .relevence,
  .date,
  .sort {
    display: none;
  }
  .stickydiv {
    display: none !important;
  }
  .job-details {
    width: 90vw;
    margin-left: 1rem;
  }
  .x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
  }
  nav {
    padding-bottom: 1rem;
  }
  .right {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .main {
    margin: 0;
    padding: 0;
    position: relative;
    left: -10px;
  }
  .whereinp,
  .jobs,
  .advance,
  .where {
    display: none;
  }
  .wt {
    width: 100vw;
    height: 4.5rem;
    position: relative;
    left: 2%;
    text-align: center;
    font-size: 1.6rem;
    border: 0.1rem solid #bdc3c7;
  }
  #searchbar {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    left: 5rem;
    color: #bdc3c7;
    z-index: 1;
  }
  .xx {
    display: none;
  }
  .dropdown-box1 {
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    margin: 0 1rem;
    padding: 0%;
  }
  .filter {
    width: 25vw;
    text-align: center;
    font-size: 2rem;
  }

  .nextpage,
  .formdiv,
  .form,
  .and,
  .email,
  .loc,
  .btn-jobs,
  .people-search,
  .resume-section,
  .related-search,
  .firstbox,
  .foot {
    display: block;
  }
  .footer,
  .button-section,
  .suggestion,
  .footer-last {
    display: none;
  }
  .nextpage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-section,
  .formdiv,
  .form,
  .email,
  .loc,
  .btn-jobs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstbox {
    margin-left: 30rem;
    margin-right: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1.4rem;
    border-bottom: 0.1rem solid #dfe6e9;
  }
  .formdiv {
    margin-top: 1rem;
  }
  .whatsapp {
    position: relative;
    margin: 2rem;
    right: -1%;
    padding: 2rem;
    font-size: 3rem;
  }
  .whats {
    position: relative;
    left: 5rem;
    bottom: 5rem;
    font-size: 2rem;
  }
  .biginp,
  .smallinp {
    width: 40vw;
    height: 7vh;
    border: 0.2rem solid #bdc3c7;
  }
  .smallinp,
  .biginp {
    position: relative;
    right: 5rem;
    font-size: 1.5rem;
    text-align: left;
  }
  .emaillabel {
    position: relative;
    bottom: 4.6rem;
    font-size: 2.1rem;
    left: 3.6rem;
  }
  .emailinp {
    width: 82vw;
    height: 7vh;
    position: relative;
    left: -3rem;
    border: 0.1rem solid #bdc3c7;
    text-align: left;
    border: 0.2rem solid #bdc3c7;
  }
  .locinp {
    text-align: left;
    width: 82vw;
    height: 7vh;
    position: relative;
    left: -4rem;
    border: 0.2rem solid #bdc3c7;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
  }
  .loclabel {
    font-size: 1.9rem;
    position: relative;
    bottom: 5rem;
    left: 4.7rem;
  }
  .latest-jobs {
    background-color: #e4e2e0;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .related-search {
    padding-left: 15rem;
    padding-right: 10rem;
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-around;
  }
  .job-alert {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .terms {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .people-search {
    padding: 2rem;
  }
  button {
    background-color: #e4e2e0;
  }
  .resume-text,
  .oi {
    font-size: 1.5rem;
  }
  .firstbox {
    margin: 0;
    padding: 2rem;
    border-bottom: 0.1rem solid #bdc3c7;
  }
  .fff {
    font-size: 2rem;
    font-weight: 700;
  }
  .fa-plus-circle {
    font-size: 2.5rem;
  }
  .foot {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
    padding-left: 1rem;
  }
  button {
    width: 40vw;
  }
  .icon {
    display: block;
    background: none;
    display: flex;
    flex-direction: column;
  }
  #three {
    display: none;
  }
}
