*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit;
}

:root {
  --first-color: #4f5bf1;
  --first-color-dark: #393f93;
  --light-grey: rgb(189, 187, 187);
  --very-dark-grey: rgb(110, 108, 109);
  --dark-grey: rgb(160, 159, 159);
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

main {
  width: 85%;
  margin-top: 3rem;
}
.form-section {
  border: 1px solid var(--light-grey);
  padding: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group a {
  text-decoration: none;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
}

.form-group input {
  outline: none;
  padding: 0.2rem;
  border: none;
  outline: none;
  padding: 5px 0px 5px 15px;
  font-family: inherit;
  height: 2.2rem;
  width: 100%;
}

.form-group input:focus {
  background-color: none;
}
.blankErrorMsg{
  margin-bottom: 10px;
}
.form-group .input-i-container {
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
  transition: 0.5s all ease;
}

.form-group .input-i-container i {
  padding-right: 0.5rem;
  color: var(--light-grey);
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  margin-top: 10px;
}

.form-group_btn {
  margin: 3rem 0;
  font-size: 1.5rem;
  padding: 13px 0px 13px 0px;
  border-radius: 0.3rem;
  font-family: inherit;
  font-weight: bold;
}

.form-group-error,
.form-group-strPass,
.blankErrorMsg,
.doNotMatch {
  display: none;
  font-size: 13px;
}

.form-section {
  padding: 2rem;
  border-radius: 1rem;
}

.form-group_heading {
  margin-bottom: 4.5rem;
}

.form-group .form-group_btn {
  background-color: #4834d4;
  color: #fff;
  border: none;
  margin: 0 0 0.9rem 0;
}

.form-group span {
  font-size: 0.9rem;
}
#email:focus + .envelope,
#pwd:focus + .unlock {
  color: var(--very-dark-grey);
}

#email:active .envelope {
  color: var(--dark-grey);
}

@media only screen and (min-width: 600px) {
  main {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  main {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  main {
    width: 40%;
  }
}

@media only screen and (min-width: 1600px) {
  main {
    width: 30%;
  }
}

@media only screen and (min-width: 1800px) {
  main {
    width: 20%;
  }
}
